.product {
  position: relative;
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-color-layout);
  border: 1px solid var(--text-color);
  box-shadow: var(--shadow);
  overflow-y: auto;
}

.product__left {
  width: 100%;
}

.img {
  border-radius: 10px;
  object-fit: contain;
  width: 150px;
  height: 150px;
}

.product__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__price {
  align-self: flex-end;
}

.product__btn-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 10px;
  bottom: 5px;
  left: 10px;
}

.product__cart {
  color: #000;
  font-weight: 600;
  padding: 2.5px 5px;
  border-radius: 5px;
  background-color: #ABABAB;
}

/* .active {
  background: red;
} */

.active svg g {
  fill: red;
}

.iconLike {
  pointer-events: none;
}